<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
		
		
	<!-- 1.数据库的连接属性 -->
		<!-- 数据库驱动 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 数据库的url -->
		<property name="hibernate.connection.url">jdbc:mysql:///cms?useUnicode=true&amp;characterEncoding=utf8</property>
		<!-- 数据库用户名 -->
		<property name="hibernate.connection.username">root</property>
		<!-- 数据库的密码 -->
		<property name="hibernate.connection.password">123456</property>
		
	<!-- 2.数据库的方言：hibernate会把hql语句翻译成指定数据库支持的sql语句 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	
	<!-- 自动创建表 -->	
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="show_sql">true</property>
		
		<mapping resource="com/peterpig/bean/cms/Admin.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/Association.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/AssociationActivity.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/AssociationBasket.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/AssociationGroup.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/AssociationPosition.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/AuditStatus.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/Classes.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/Department.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/Major.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/SignIn.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/SignInType.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/Student.hbm.xml" />
		<mapping resource="com/peterpig/bean/cms/StudentInfo.hbm.xml" />

	</session-factory>
</hibernate-configuration>